.input {
  width: 255px;
  height: 30px;
}

.button {
  font-size: 15px;
  line-height: 18px;
  width: 88px;
  height: 35px;
}

.timer {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.label {
  
  font-size: 24px;
  line-height: 24px;
  
}